.podemos-ayudarte {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--padding-md);
  background-color: #fff;
  margin-top: 5rem;
  height: 30rem;
}

@media (max-width: 1100px) {
  .podemos-ayudarte {
    display: flex;
    justify-content: center;
  }
  .carousel {
    display: none;
  }
}
