<!-- QUEREMOS AYUDARTE -->
<div class="contenedor-ayuda" id="contenedor-ayuda">
    <div class="contenedor-textos-ayuda">
      <h2>Podemos ayudarte</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur enim similique ipsam qui
        id corporis, explicabo quas necessitatibus eveniet eum pariatur placeat delectus
        consectetur unde ipsum expedita nesciunt excepturi soluta!
      </p>
    </div>
    <div class="carousel">
      <div class="carousel-items">
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/gato-blanco.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/imagenes-web/dog3.png" alt="perro" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/imagenes-web/dog1.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/imagenes-web/cat1.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/gato-atigrado.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/gato-negro.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/perro-labrador.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/gato-naranja-parado.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/resources/img/fotos-mascotas/gato-negro-parado.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>

