/*PODEMOS AYUDARTE*/
.contenedor-textos-ayuda {
  width: 80%;
  margin: 0 auto;
}

.contenedor-textos-ayuda h2 {
  font-family: var(--font-bodoni-moda);
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

.contenedor-textos-ayuda p {
  font-size: 1.3125em;
}

@media (max-width: 1100px) {
  .contenedor-textos-ayuda {
    width: 100%;
  }
  .contenedor-textos-ayuda h2 {
    text-align: center;
  }
  .contenedor-textos-ayuda p {
    text-align: center;
  }
}
