/*PODEMOS AYUDARTE*/
.contenedor-textos-ayuda {
  width: 30rem;
}

.contenedor-textos-ayuda h2 {
  font-family: var(--font-bodoni-moda);
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

.contenedor-textos-ayuda p {
  font-size: 1.3125em;
}
