<!-- QUE HACEMOS -->

<div class="contenedor-nosotros">
    <img src="../../../../../assets/resources/img/imagenes-web/que-hacemos1.png" alt="Gato" />
    <div class="contenedor-textos-nosotros">
      <h2>Que hacemos</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta aut nostrum, optio
        hic reiciendis unde esse, aspernatur accusantium nemo quidem corporis sequi deleniti
        excepturi tempora minima velit. Iste, necessitatibus.
      </p>
      <div class="boton-nosotros">
        <a href="#">Conocé sus historias</a>
      </div>
    </div>
    <img src="../../../../../assets/resources/img/imagenes-web/que-hacemos2.png" alt="" class="Perro" />
  </div>