* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-advent-pro);
    color: var(--color-black);
}

/*NAV*/

/*PORTADA*/

/*PODEMOS AYUDARTE*/

/*QUE HACEMOS*/

/*COMO LO LOGRAMOS*/

/*INTEGRANTES*/

/*¿TENES DUDAS?*/

/*FOOTER*/

/*MODAL*/