<h2>Busca Ahora</h2>

<form #formularioBusquedaMascota="ngForm" action="#" id="contenedor-form-buscar" novalidate>
  <label for="especieMascota">¿Que buscas?</label>
  <select id="especiesCargar"required [(ngModel)]="especieMascota" name="especieMascota"></select>

  <label for="">Color</label>
  <select id="color" required>
    <option value="BLANCO" id="blanco">BLANCO</option>
    <option value="NEGRO" id="negro">NEGRO</option>
    <option value="NARANJA" id="naranja">NARANJA</option>
    <option value="GRIS" id="gris">GRIS</option>
    <option value="MARRÓN" id="marron">MARRÓN</option>
    <option value="MANCHADO" id="manchado">MANCHADO</option>
    <option value="ATIGRADO" id="atigrado">ATIGRADO</option>
    <option value="CREMA" id="crema">CREMA</option>
    <option value="TODOS" id="color-todos">TODOS</option>
  </select>
  <label for="">Tamaño</label>
  <select id="tamanio" required>
    <option value="PEQUEÑO" id="pequeño">PEQUEÑO</option>
    <option value="MEDIANO" id="mediano">MEDIANO</option>
    <option value="GRANDE" id="grande">GRANDE</option>
    <option value="TODOS" id="tamanio-todos">TODOS</option>
  </select>
  <label class="label" for="">Ciudad</label>
  <select id="ciudadesCargar" required></select>
  <label for="">Barrio</label>
  <select id="ubicacionesCargar" required></select>
  <label for="">Tipo</label>
  <select id="estado" required>
    <option value="ADOPCION" id="adopcion">ADOPCION</option>
    <option value="PERDIDO" id="perdido">PERDIDO</option>
  </select>
  <button id="carga-buscar">Busca ahora</button>
</form>
