.contenedor-form-carga{
    padding: var(--padding-md);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor-form-carga h2{
    font-family: var(--font-bodoni-moda);
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

form h3{
    margin-bottom: 1rem;
    text-align: center;
}

form select{
    border: none;
    padding: var(--padding-xxs);
    border-radius: var(--br-xs);
    margin-bottom: 1rem;
    border: 2px solid var(--color-tertiary);
    outline: none;
}


form input{
    
    padding: var(--padding-xxs);
    border-bottom: 2px solid var(--color-pink);
    background-color: var(--color-white1);
    margin-bottom: 1rem;
    width: 20rem;
    outline: none;
    font-family: var(--font-advent-pro);
    font-size: 1rem;


    /*para boton cargar img*/
    /* border: none; */
    border-radius: var(--border-xs);
    /* margin-bottom: 1rem; */
    border: 2px solid var(--color-tertiary);
    text-align: center;
}


.file{
    margin: auto;
}

.file input{
    display: none;
}


.file label{

    cursor: pointer;
    /* color: var(--color-white); */
    display: block;
    background-color: var(--color-white1);
    /*para boton cargar img*/
    border: none;
    padding: var(--padding-xxs);
    border-radius: var(--border-xs);
    border: 2px solid var(--color-tertiary);
    outline: none;
    text-align: center;
    width: 20rem;
    margin-bottom: 0.5rem;
}

form select {
    border: none;
    padding: var(--padding-xxs);
    border-radius: var(--border-xs);
    margin-bottom: 1rem;
    border: 2px solid var(--color-tertiary);
    outline: none;
  }

form button {
    font-family: var(--font-advent-pro);
    font-size: var(--font-size-sm);
    background-color: var(--color-secondary);
    border-radius: var(--border-xs);
    border: 0;
    color: var(--color-white1);
    width: 7rem;
    padding: 0.7rem;
    margin: 2rem 0 0 7rem;
    cursor: pointer;
    box-shadow: -3px -3px var(--color-tertiary);
  }

/* MEDIA QUERIES */

@media screen and (max-width:480px){
    .contenedor-form-carga{
    flex-direction: column;
    }

    .contenedor-form-carga h2{
        font-size: 3rem;
    }

}