 <!-- FORM -->

 <div class="contenedor-form-carga">
    <div>
        <h2>Encuentra <br> tu <br> mascota</h2>
    </div>
    <form action="" method="post">
        <h3>Cargar mascota</h3>
        <label class="label" for="">Especie</label>
        <select id="especiesCargar">
            <!-- logica get -->
        </select>
        <label class="label" for="" >Color</label>
        <select id="color">
            <option value="BLANCO"id="blanco">BLANCO</option>
            <option value="NEGRO" id="negro">NEGRO</option>
            <option value="NARANJA" id="naranja">NARANJA</option>
            <option value="GRIS" id="gris">GRIS</option>
            <option value="MARRÓN" id="marron">MARRÓN</option>
            <option value="MANCHADO" id="manchado">MANCHADO</option>
            <option value="ATIGRADO" id="atigrado">ATIGRADO</option>
        </select>
        <label class="label" for=""  >Tamaño</label>
        <select id="tamanio">
            <option value="PEQUEÑO" id="pequeño">PEQUEÑO</option>
            <option value="MEDIANO" id="mediano">MEDIANO</option>
            <option value="GRANDE" id="grande">GRANDE</option>
        </select>
        <label class="label" for="" >Adoptable</label>
        <select id="adoptable">
            <option value="1" id="si-adoptable">SI</option>
            <option value="0" id="no-adoptable">NO</option>
        </select>
        <label class="label" for="">Ciudad</label>
        <select id="ciudadesCargar">
            <!-- logica get -->
        </select>
        <label for="">Barrio</label>
        <select id="ubicacionesCargar">
            <!--cargar ubicacion con bdd-->
        </select>

        <label class="label" for="" >DNI</label>
        <input type="number" id="dniMascota" placeholder="Ingrese DNI">
        <label for="">Descripción</label>
        <input type="text" placeholder="Zona especifica u otros datos que quieras aportar" id="descripcion">
        <label for="">Fecha de carga</label>
        <input type="date" placeholder="Fecha de carga" id="fecha">

        <label for="">Imagen</label>
            <!-- <input type="file" placeholder="Imagen" id="fotouno" > -->
        <div class="file">
            <label for="" >Cargar imagen</label>
            <input type="file" placeholder="Imagen" id="foto" >
        </div>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.3970706412!2d-58.573384362124024!3d-34.615461118227664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses!2sar!4v1674747325831!5m2!1ses!2sar" width="325" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <button id="cargar-perdida">Carga ahora</button>
    </form>
</div>
