<div class="contenedor-sobre-nosotros" id="integrantes">
    <div class="contenedor-titulo">
      <h2>Integrantes</h2>
    </div>
    <div class="contenedor-integrantes">
      <div class="integrante">
        <img src="https://avatars.githubusercontent.com/u/93406033?v=4" alt="Cinthia" />
        <p>Cinthia Vota</p>
        <a href="https://github.com/VCinthia" target="_blank">GitHub</a>
      </div>
      <div class="integrante">
        <img src="https://avatars.githubusercontent.com/u/129425650?s=96&v=4" alt="Juan" />
        <p>Juan Manuel Camilo</p>
        <a href="https://github.com/JuanManuelCamilo27" target="_blank">GitHub</a>
      </div>
      <div class="integrante">
        <img src="https://avatars.githubusercontent.com/u/87797672?v=4" alt="Fredi" />
        <p>Fredi Rodolfo Campero</p>
        <a href="https://github.com/CamperoFredi" target="_blank">GitHub</a>
      </div>
      <div class="integrante">
        <img src="https://avatars.githubusercontent.com/u/55592459?v=4" alt="Lourdes" />
        <p>Maria Lourdes Araujo</p>
        <a href="https://github.com/mlaraujo1978" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
