<div class="contenedor-register" id="contenedor-register">
  <div class="main-container">
    <form action="#" method="get">
      <h3>Registro</h3>
      <label for="">Nombre</label>
      <input type="text" placeholder="Ingresa tu nombre" />

      <label for="">Apellido</label>
      <input type="text" placeholder="Ingresa tu apellido" />

      <label for="">Telefono</label>
      <input type="" placeholder="Ingresa tu telefono" />

      <label for="">DNI</label>
      <input type="" placeholder="Ingresa tu DNI" />

      <label for="">Correo Electronico</label>
      <input type="email" placeholder="Ingresa tu correo" />

      <label for="">Contraseña</label>
      <input type="password" placeholder="Ingresa tu contraseña" />

      <label for="">Pregunta secreta</label>
      <input type="text" placeholder="Ingresa tu respuesta" />

      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>
