<div class="contenedor-cards-mascotas">
    <div class="card-mascota">
      <div class="image">            
          <!--<img src="../resources/img/fotos-mascotas/gato-negro.jpg" alt="">-->
          <img src="https://i.pinimg.com/564x/31/62/9a/31629a9de3e471a18a83f68b7652646a.jpg" alt="">
      </div>
      <div class="descripcion">            
        <p>mascota.ubicacion.barrio</p>
        <p>mascota.descripcion</p>
        <a href="https://api.whatsapp.com//send?phone=549${mascota.user.telefono}" target="_blank">Contactar</a>
      </div>
    </div>
  </div>
