<!-- ¿TENES DUDAS? -->

<div class="contenedor-dudas">
    <div class="contenedor-textos-dudas">
      <h2>¿Tenes <span>dudas?</span></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor obcaecati amet natus
        ratione accusantium inventore eaque commodi est aut voluptates.
      </p>
    </div>
    <form class="contenedor-email">
      <input type="email" placeholder="Email" id="user-email" />
      <button id="btn-email">Enviar</button>
    </form>
  </div>
