<!-- SECCION PORTADA -->

<div class="portada">
  <div class="title">
    <div class="encuentra-div">Encuentra</div>
    <div class="tu-mascota-div">Tu Mascota</div>
  </div>
  <div class="image-container">
    <img
      class="rectangle-icon"
      alt=""
      src="../../../../../assets/resources/img/imagenes-web/cat1.png"
    />
    <img
      class="rectangle-icon1"
      alt=""
      src="../../../../../assets/resources/img/imagenes-web/dog1.png"
    />
    <img
      class="rectangle-icon2"
      alt=""
      src="../../../../../assets/resources/img/imagenes-web/dog2.png"
    />
  </div>
  <a href="#contenedor-ayuda"
    ><img
      src="../../../../../assets/resources/img/imagenes-web/flecha-hacia-abajo.png"
      alt="Flecha"
      class="flecha-hacia-abajo"
  /></a>
</div>
