<!-- FOOTER -->

<footer>
  <div class="logo-footer">
    <img
      src="../../../assets/resources/img/imagenes-web/huella.png"
      alt="Huella"
    />
    <p class="logo-text">SANTEX</p>
    <div>
      <img
        class="img-social"
        src="../../../assets/resources/img/icon-web/facebook.png"
        alt=""
      />
      <img
        class="img-social"
        src="../../../assets/resources/img/icon-web/instagram (2).png"
        alt=""
      />
      <img
        class="img-social"
        src="../../../assets/resources/img/icon-web/twitter.png"
        alt=""
      />
    </div>
  </div>
  <hr />
  <div class="footer-enlaces">
    <h3 class="title">Santex</h3>
    <a href="#">Inicio</a>
    <a routerLink="" fragment="integrantes">Integrantes</a>
    <a routerLink="" fragment="dudas">Tienes dudas?</a>
  </div>
  <hr />
  <div class="footer-enlaces">
    <h3>Contactanos</h3>
    <a href="#">nombrepag@gmail.com</a>
    <a href="#">+549-000-000-0000</a>
    <a href="#">Calle 0000 - Ciudad</a>
  </div>
</footer>
