<!-- FOOTER -->

<footer>
    <div class="logo-footer">
      <img src="../../../assets/resources/img/imagenes-web/huella.png" alt="Huella" />
      <p class="logo-text">SANTEX</p>
      <div>
        <img class="img-social" src="../../../assets/resources/img/icon-web/facebook.png" alt="" />
        <img class="img-social" src="../../../assets/resources/img/icon-web/instagram (2).png" alt="" />
        <img class="img-social" src="../../../assets/resources/img/icon-web/twitter.png" alt="" />
      </div>
    </div>
    <div class="footer-enlaces">
      <h3>Nombre Página</h3>
      <a href="#">Inicio</a>
      <a href="#">Sobre Nosotros</a>
      <a href="#">Consejos</a>
    </div>
    <div class="footer-enlaces">
      <h3>Publicidad</h3>
      <a href="#">Marcas</a>
      <a href="#">Politica de Privacidad</a>
      <a href="#">Preguntas Frecuentes</a>
    </div>
    <div class="footer-enlaces">
      <h3>Contactanos</h3>
      <a href="#">nombrepag@gmail.com</a>
      <a href="#">+549-000-000-0000</a>
      <a href="#">Calle 0000 - Ciudad</a>
    </div>
  </footer>
