/*FOOTER*/
footer {
  height: 100%;
  display: flex;
  padding: var(--padding-md);
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-gray);
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  width: 60px;
}

.logo-footer p {
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.logo-footer .img-social {
  width: 25px;
}

.footer-enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-enlaces h3 {
  margin-bottom: 1rem;
}

.footer-enlaces a {
  text-decoration: none;
  color: var(--color-black);
}

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 1rem;
  }
  .footer-enlaces {
    align-items: center;
  }
  hr {
    width: 50%;
  }
  .title {
    display: none;
  }
}
