<div class="tus-mascotas-contenedor">
  <h2>Tus Mascotas</h2>

  <div class="contenedor-cards-mascotas">
    <form
      #formularioEditarEstado="ngForm"
      action="#"
      id="contenedor-form-buscar"
      novalidate
      (ngSubmit)="onEditar()"
    >
      <div class="card-mascota" *ngFor="let mascota of mascotas">
        <div class="image">
          <img src="data:image/png;base64,{{ mascota.foto }}" alt="img" />
        </div>
        <div class="descripcion">
          <!-- <p><b>ID de Mascota</b></p> -->
          <p class="visibilidad">{{ mascota.estado }}</p>
          <p>{{ mascota.descripcion }}</p>
        </div>
        <label class="estadoMascota" for="estadoMascota"
          ><b>{{ mascota.estado }} </b></label
        >
        <select id="estadoMascota">
          <option value="0" type="text" name="" id="no-visible">
            NO VISIBLE
          </option>
          <option value="1" type="text" name="" id="visible">VISIBLE</option>
        </select>

        <button type="submit" name="btnEditarEstado" id="btnEditarEstado">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
