<!-- COMO LO LOGRAMOS -->

<div class="contenedor-logros" id="contenedor-logros">
    <div class="contenedor">
      <div class="contenedor-textos-logros">
        <h2>Como lo logramos</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet dolorem eaque at natus
          explicabo reiciendis maxime voluptatibus animi nihil porro.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
          <li>Lorem ipsum dolor sit amet consectetur.</li>
        </ul>
      </div>
      <img src="../../../../../assets/resources/img/imagenes-web/que-hacemos3.png" alt="" />
    </div>
    <div class="contenedor-cards">
      <div class="card-1">
        <img src="../../../../../assets/resources/img/icon-web/1.png" alt="Icon" />
        <p class="size">120+</p>
        <p>Mascotas encontradas</p>
      </div>
      <div class="card-2">
        <img src="../../../../../assets/resources/img/icon-web/3.png" alt="Icon" />
        <p class="size">50+</p>
        <p>Nuevos dueños</p>
      </div>
      <div class="card-3">
        <img src="../../../../../assets/resources/img/icon-web/4.png" alt="Icon" />
        <p class="size">3</p>
        <p>Ciudades</p>
      </div>
    </div>
  </div>
