<!-- NAVBAR -->
<nav>
  <ul class="nav">
    <li class="logo">
      <a href="./index.html">
        <img
          src="../../../assets/resources/img/imagenes-web/huella.png"
          alt="Huella"
        />
      </a>
    </li>
    <input type="checkbox" id="check" #chkboxes />
    <span class="menu">
      <li>
        <a id="inicio" routerLink="/home" (click)="closeMenu(chkboxes)"
          >Inicio</a
        >
      </li>
      <li>
        <a id="sobre-nosotros" routerLink="" fragment="integrantes"
          >Integrantes</a
        >
      </li>
      <li>
        <a href="#" id="consejos" routerLink="" fragment="dudas"
          >Tienes dudas?</a
        >
      </li>
      <li>
        <a
          id="buscar-ahora"
          routerLink="/buscar-ahora"
          (click)="closeMenu(chkboxes)"
          >Busca ahora!</a
        >
      </li>
      <li>
        <a
          id="reportar-perdida"
          routerLink="/reportar-perdida"
          (click)="closeMenu(chkboxes)"
          >Reportar Perdida</a
        >
      </li>
      <li><a href="#" class="cards-dni links--hide">Tus mascotas</a></li>

      <li>
        <a
          class="login"
          routerLink="/log-in"
          id="abrir-login"
          (click)="closeMenu(chkboxes)"
          >Inicia Sesion</a
        >
      </li>

      <li>
        <a
          class="registrarse"
          routerLink="/register"
          id="abrir-register"
          (click)="closeMenu(chkboxes)"
          >Registrarse</a
        >
      </li>
      <li>
        <a class="logout links--hide show--inline" href="#" id="logout"
          >Cerrar Sesion</a
        >
      </li>

      <label for="check" class="close-menu"
        ><i class="fa-solid fa-xmark"></i
      ></label>
    </span>
    <label for="check" class="open-menu"
      ><i class="fa-solid fa-bars"></i
    ></label>
  </ul>
</nav>
